<Configuration status="error">
  <Appenders>
    <Console name="Console">
      <PatternLayout>
        <Pattern>%d %5p %c{1} %X %F:%L - %m%n</Pattern>
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
